.navbar ul li a{
    position: relative;
}

.navbar ul li a::after{    
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 2px;
    transition: 0.5s;
    background:#e23e38;
    transform: scale(0);
   

}

.navbar ul li a:hover::after{
    transform: scale(1);
    width: 100%;
}
